{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "unusedVars": false
            }
        }
    ]
}
