.media-card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-card-container { width: 152px; }

.media-card-episode-container { width: 291px; }

.media-card {
    display: flex;
    filter: brightness(100%);
    flex-direction: column;
    height: 220px;
    justify-content: center;
    transition: all 0.2s ease;
    width: 152px;
}

.media-card {
    display: flex;
    filter: brightness(100%);
    flex-direction: column;
    height: 220px;
    justify-content: center;
    transition: all 0.2s ease;
    width: 152px;
}

.media-card-episode { width: 291px; }

.media-card:hover { filter: brightness(75%); }

.media-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.media-card-poster-placeholder { font-weight: bold; }

.media-card-menu {
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
}

.media-card:hover .media-card-menu { display: block; }