.media-card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media-card-container { width: 152px; }

.media-card-episode-container { width: 392px; }

.media-card {
    display: flex;
    /*filter: brightness(100%);*/
    flex-direction: column;
    height: 220px;
    justify-content: center;
    transition: all 0.2s ease;
    width: 152px;
}

.media-card-selected { box-shadow: 0 0 0 3px #00c000, 0 0 4px rgba(0, 0, 0, 0.3); }

.media-card-selected-delete { box-shadow: 0 0 0 3px #f44336, 0 0 4px rgba(0, 0, 0, 0.3); }

.media-card-episode { width: 392px; }

.media-card:hover { /*filter: brightness(75%);*/ }

.media-card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.media-card-poster-placeholder { font-weight: bold; }

.media-card-menu {
    bottom: 0;
    display: none;
    position: absolute;
    right: 0;
}

.media-card:hover .media-card-menu { display: block; }

.media-card-overlay {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s;
}

.media-card-overlay:hover { opacity: 1; }

.search-bar .mud-input { height: 42px; }

.search-bar {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 4px;
    height: 42px;
    margin-bottom: 5px;
}

.search-bar div .mud-input-root { color: #fafafa; }

.search-bar .mud-input.mud-input-outlined .mud-input-outlined-border {
    border: none;
    border-radius: 4px;
}

.fanart-container {
    position: relative;
    width: 100%;
    z-index: -1;
}

.fanart-container img {
    -o-object-fit: cover;
    height: 400px;
    object-fit: cover;
    position: absolute;
    transition: opacity 5s ease;
    width: 100%;
}

.fanart-container > .fanart-tint {
    background: linear-gradient(360deg, black, transparent);
    height: 400px;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.media-item-title {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.media-item-subtitle {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.letter-bar-container {
    height: calc(100vh - 128px);
    position: fixed;
    right: 1em;
    top: 128px;
}

.letter-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.release-notes ul {
    list-style: unset;
}

.release-notes > ul {
    margin-top: 10px;
}

.release-notes ul > li {
    margin-left: 30px;
}

.release-notes h3 {
    margin-top: 20px;
}