<div class="letter-bar-container">
    <div class="letter-bar">
        <MudLink>#</MudLink>
        <MudLink>A</MudLink>
        <MudLink>B</MudLink>
        <MudLink>C</MudLink>
        <MudLink>D</MudLink>
        <MudLink>E</MudLink>
        <MudLink>F</MudLink>
        <MudLink>G</MudLink>
        <MudLink>H</MudLink>
        <MudLink>I</MudLink>
        <MudLink>J</MudLink>
        <MudLink>K</MudLink>
        <MudLink>L</MudLink>
        <MudLink>M</MudLink>
        <MudLink>N</MudLink>
        <MudLink>O</MudLink>
        <MudLink>P</MudLink>
        <MudLink>Q</MudLink>
        <MudLink>R</MudLink>
        <MudLink>S</MudLink>
        <MudLink>T</MudLink>
        <MudLink>U</MudLink>
        <MudLink>V</MudLink>
        <MudLink>W</MudLink>
        <MudLink>X</MudLink>
        <MudLink>Y</MudLink>
        <MudLink>Z</MudLink>
    </div>
</div>
