@inject IJSRuntime JsRuntime

<div>
    <MudDialog>
        <DialogContent>
            <div class="overflow-y-scroll" style="max-height: 500px">
                <pre>
                    <code @ref="_infoView">@_info</code>
                </pre>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => CopyToClipboard(_infoView))">
                Copy
            </MudButton>
            <MudButton Color="Color.Primary" OnClick="@Close">Close</MudButton>
        </DialogActions>
    </MudDialog>
</div>

@code {

    [CascadingParameter]
    IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string Context { get; set; }

    private string _info;
    private ElementReference _infoView;

    protected override Task OnParametersSetAsync()
    {
        try
        {
            _info = Context;
        }
        catch (Exception ex)
        {
            _info = ex.ToString();
        }

        return Task.CompletedTask;
    }

    private async Task CopyToClipboard(ElementReference view) => await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", view);

    private void Close() => MudDialog.Close(DialogResult.Ok(true));
}
