.swal2-container.swal2-center > .swal2-popup {
    background-color: #1E1E1E !important;
    border-color: green;
    border-width: thin;
    border-style: solid;
    width: fit-content;
}

.swal2-html-container, .swal2-title {
    color: white !important;
    font-family:Cambria;
}
