[*.{cs,vb}]
# disable CA1707: Identifiers should not contain underscores
dotnet_diagnostic.ca1707.severity = none
# disable CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.ca1711.severity = none