:root {
    --md-primary-fg-color: #121212;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #272727;
    --md-typeset-a-color: #00a0a0;
    --md-accent-fg-color: #00c0c0;
    --md-default-fg-color--light: rgba(255, 255, 255, 0.9);
    
    --md-code-bg-color: #1f1f1f;
    --md-footer-bg-color: #1f1f1f;
    --md-footer-bg-color--dark: #121212;
}
