name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  calculate_version:
    name: Calculate version information
    runs-on: ubuntu-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract Docker Tag
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          tag2="${tag:1}"
          short=$(git rev-parse --short HEAD)
          final="${tag2/alpha/$short}"
          echo "GIT_TAG=${final}" >> $GITHUB_ENV
      - name: Extract Artifacts Version
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          tag2="${tag:1}"
          short=$(git rev-parse --short HEAD)
          final="${tag2/alpha/$short}"
          echo "ARTIFACTS_VERSION=${final}" >> $GITHUB_ENV
          echo "INFO_VERSION=${tag2}" >> $GITHUB_ENV
  build_and_upload:
    uses: jasongdove/ersatztv/.github/workflows/artifacts.yml@main
    with:
      release_tag: develop
      release_version: ${{ env.ARTIFACTS_VERSION }}
      info_version: ${{ env.INFO_VERSION }}
  build_and_push:
    uses: jasongdove/ersatztv/.github/workflows/docker.yml@main
    with:
      base_version: develop
      info_version: ${{ env.GIT_TAG }}
      tag_version: ${{ github.sha }}
