name: Build
on:
  pull_request:
  push:
    branches:
      - main
      - develop
      - docker-publish
jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
    steps:
      - name: Get the sources
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Clean
        run: dotnet clean --configuration Release && dotnet nuget locals all --clear

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-restore --verbosity normal
  build_and_push:
    name: Build & Publish to Docker Hub
    needs: build_and_test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract Git Tag
        shell: bash
        run: |
            tag=$(git describe --tags --abbrev=0)
            echo "GIT_TAG=${tag:1}" >> $GITHUB_ENV
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2.1.4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push base
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          build-args: |
            INFO_VERSION=${{ env.GIT_TAG }}-docker
          tags: |
            jasongdove/ersatztv:develop
#            jasongdove/ersatztv:${{ env.GIT_TAG }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
      - name: Build and push nvidia
        uses: docker/build-push-action@v2
        with:
            context: .
            file: ./docker/nvidia/Dockerfile
            push: true
            build-args: |
                INFO_VERSION=${{ env.GIT_TAG }}-docker-nvidia
            tags: |
                jasongdove/ersatztv:develop-nvidia
            #            jasongdove/ersatztv:${{ env.GIT_TAG }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
      - name: Build and push vaapi
        uses: docker/build-push-action@v2
        with:
            context: .
            file: ./docker/vaapi/Dockerfile
            push: true
            build-args: |
                INFO_VERSION=${{ env.GIT_TAG }}-docker-vaapi
            tags: |
                jasongdove/ersatztv:develop-vaapi
            #            jasongdove/ersatztv:${{ env.GIT_TAG }}
            cache-from: type=local,src=/tmp/.buildx-cache
            cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
