name: Pull Request
on:
  pull_request:
jobs:
  build_and_test_windows:
    runs-on: windows-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Clean
        run: dotnet clean --configuration Release && dotnet nuget locals all --clear

      - name: Install dependencies
        run: dotnet restore

      - name: Prep project file
        run: sed -i '/Scanner/d' ErsatzTV/ErsatzTV.csproj

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --blame-hang-timeout "2m" --no-restore --verbosity normal

      - name: Build Windows
        run: |
          cd ErsatzTV-Windows
          cargo build --release --all-features
  build_and_test_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Clean
        run: dotnet clean --configuration Release && dotnet nuget locals all --clear

      - name: Install dependencies
        run: dotnet restore

      - name: Prep project file
        run: sed -i '/Scanner/d' ErsatzTV/ErsatzTV.csproj

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --blame-hang-timeout "2m" --no-restore --verbosity normal
  build_and_test_mac:
    runs-on: macos-11
    steps:
      - name: Get the sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Clean
        run: dotnet clean --configuration Release && dotnet nuget locals all --clear

      - name: Install dependencies
        run: dotnet restore

      - name: Prep project file
        run: sed -i '' '/Scanner/d' ErsatzTV/ErsatzTV.csproj

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --blame-hang-timeout "2m" --no-restore --verbosity normal
