name: Publish
on:
  release:
    types: [ published ]

jobs:
  calculate_version:
    name: Calculate version information
    runs-on: ubuntu-latest
    steps:
      - name: Get the sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Extract Docker Tag
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          echo "GIT_TAG=${tag:1}" >> $GITHUB_ENV
          echo "DOCKER_TAG=${tag/-alpha/}" >> $GITHUB_ENV
      - name: Extract Artifacts Version
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          echo "ARTIFACTS_VERSION=${tag}" >> $GITHUB_ENV
          echo "INFO_VERSION=${tag:1}" >> $GITHUB_ENV
  build_and_upload:
    uses: jasongdove/ersatztv/.github/workflows/artifacts.yml@main
    with:
      release_tag: develop
      release_version: ${{ env.ARTIFACTS_VERSION }}
      info_version: ${{ env.INFO_VERSION }}
  build_and_push:
    uses: jasongdove/ersatztv/.github/workflows/docker.yml@main
    with:
      base_version: latest
      info_version: ${{ env.GIT_TAG }}
      tag_version: ${{ env.DOCKER_TAG }}
